*{
	border:1px black solid;
}

.wrapper {
	background-color: ;
	position: relative;
	
}

.nav_style {
	z-index: 1;
	background-color: transparent !important;
	border-bottom: 1px rgba(255,255,255,0.1) solid;

}
.navbar-nav .nav-item .nav_item_style {
	color: black;
}
.navbar #white {
	color: black ;
}

.productbox {
	margin-top: 3%;
	padding: 70px;
}
.item {
	display: inline-block;
	margin: 0px auto;
	//box-shadow: 3px 3px 2px #f2f2f2;
	width: 150px;
	height: 250px;
	border:1px solid #f2f2f2;
	position: relative;

}
.row {
	margin-top: 2%;
}

.item img {
	top: -105px;
	border-radius: 5px;
	margin-left: 30px;
	height: 240px;
	border: 1px solid black;
	left: -30px;
	position: relative;

}
.item img:hover{
	filter:blur(5px);
}

.item:hover {
	
}

.detail {
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
	top: 80px;
	position: relative;
	opacity: 0;
	text-align: center;

}

.detail:hover {
	z-index: 100;
	filter: none;
	opacity: 1;
}


