{% extends 'base.html' %}


{% block 'css' %}

{% endblock %}



{% block 'body' %}

<form action="{% url 'user:resetpwd' %}" method="post">
    {% csrf_token %}
    <h1>{{user.username}}</h1>
    <h2>{{user.email}}</h2>
    <input type="hidden" value="{{user.username}}" name='username'>
    <label for="opwd">old password:</label>
    <input type="password" name="opwd">
    <label for="npwd">new password:</label>
    <input type="password" name="npwd">
    <label for="npwd1">confirm:</label>
    <input type="password" name="npwd1">
    <input type="submit" value="submit">


</form>










{% endblock %}



{% block 'script' %}

{% endblock %}