{% extends 'base.html' %} {% block 'body' %}

<div class='div_form' style="width:50%;margin-left:50%;transform:translateX(-50%);" >
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" >
            <label for="productname">productname</label>
            <input type="text" class="form-control" id="productname" placeholder="productname" name="productname">
        </div>
        <div class="form-group">
            <label for="productbrand">productbrand</label>
            <select class="form-control" id="productbrand" name="productbrand">
                {% for data in datas %}

                <option value="{{data.0}}">{{data.1}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="rating">rating</label>
            <select class="form-control" id="rating" name="rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div>
            <label for="productcategory">productcategory</label>
            <select class="form-control" id="productcategory" name="productcategory">
                {% for data in datas_category %}

                <option value="{{data.0}}">{{data.1}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="productprice">price</label>
            <input type="number" class="form-control" id="productprice" placeholder="productprice" name="productprice">
        </div>
        <div class="form-group">
            <label for="productimg">productimg</label>
            <input type="file" class="form-control" id="productimg" placeholder="productimg" name="productimg">
            <img src="" alt="" id="img1">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
        </div>
        <input type="submit" value="suubmit">
    </form>

</div>




{% endblock %}
{% block 'script' %}
    <script>
        document.querySelector('#productimg').addEventListener('change',function(event){
            var file = this.files[0];
            var reader = new FileReader();
            var theImg  = document.querySelector('#img1');
            reader.readAsDataURL(file);
            reader.addEventListener('load',function(event){
                theImg.src = event.target.result;
            })

        })
    
    
    </script>


{% endblock %}