{% extends 'base.html'%}

{% block 'body' %}




 <!-- upper -->
 <div class="upper">
    <div class="left"></div>
    <div class="right">
        <h1>info</h1>
        <p>Beer & Deer 啤魯麋鹿,精釀啤酒的小天地，不定時推出的優惠活動，輕鬆溫馨的空間設計，還能享受民生社區悠閒的靜謐。</p>
        <br>
        <hr>
        <p>自釀啤酒，或者家釀啤酒，顧名思義，就是消費者自己釀造啤酒，而非釀酒廠所釀造的。在啤酒進行商業化生產之前，啤酒都是由家庭獨自釀製的。在啤酒工業化生產之後，家庭啤酒自釀依然廣泛地發展。在美國，據不完全統計，從事家釀啤酒的人數為120萬人。2011年2月6日，美國總統歐巴馬的白宮派對上就提供了自釀啤酒。</p>
    </div>
</div>
<div class="clear"></div>
<!-- endupper -->
<div class="middle">
    <div></div>
</div>













{% endblock %}