
{% extends 'base.html' %}
{% block 'body' %}
  <div class="clear"></div>
  <!-- upper -->
  <div class="jumbotron">
    <div class="jum_t">
      <h1 class="display-3">Beer Deer!</h1>
      <p class="lead">MingSheng best beer bar</p>
  
      <p>Dive into beer fantasy with us</p>
      <p class="lead">
         <a class="btn btn-primary btn-lg" href="#" role="button">Drink Now</a>
      </p>
  </div>
</div>

  <!-- endupper -->
  <div class="clear"></div>
  <!-- three steps -->
  <div class="steps">
   <a class="steps_1" href="https://www.google.com.tw/maps/@25.0367805,121.5426982,15z" target="_blank">
    <i class="fa fa-map-marker fa-4x" aria-hidden="true"></i>
    <h4>Step 1</h4>
    <p>find location</p>
   </a>





   <a class="steps_2" href="https://www.facebook.com/beerndeer/"  target="_blank">
     <i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i>
    <h4>Step 2</h4>
    <p>Booking</p>
   </a>
   <div class="steps_3 ">
    <i class="fa fa-beer fa-4x" aria-hidden="true"></i>
    <h4>Step 3</h4>
    <p>Enjoy</p>
   </div>
  </div>
  <!-- end three steps -->
  <div class="clear"></div>
  <!-- wallpic -->
  <div class="picwall">
    <div class="picwall_up">
      <div class="picwall_1">
        <div class="picwall_t1"> <p>十月啤酒節<br>經典啤酒</p> </div>
      </div>
      <div class="picwall_2">
        <div class="picwall_t2">米凱樂</div>
      </div>
      <div class="picwall_3">
        <div class="picwall_t3">啤酒的製造</div>
      </div>
      
    </div>
    <div class="picwall_down">
      
      <div class="picwall_4">
        <div class="picwall_t4">享受人生</div>
      </div>
      <div class="picwall_5">
        <div class="picwall_t5">精釀搭餐</div>
      </div>
    </div>
  </div>
  <!-- end wallpic -->
  <div class="clear"></div>
  <!-- commet wall  -->

  <div class="commentwall">
    <div class="commentwall_title">
      <h3>People Love Us</h3>
    </div>
    <hr>
    <div class="comment_e">
      <div class="comment_1">
        <div class="comment_p1"></div>
        <div class="commet_t">"Shall relax at its finest." <br><br> - Agnes H. </div>
      </div>
      <div class="comment_2">
        <div class="comment_p2"></div>
        <div class="commet_t">"Pocket List beer bar." <br><br> - Agnes H. </div>
      </div>
      <div class="comment_3">
        <div class="comment_p3"></div>
        <div class="commet_t">"Pocket List beer bar." <br><br> - Agnes H. </div>
      </div>
      </div>
  </div>


  <!-- end commet wall  -->


  <div class="clear"></div>
{% endblock %}


{% block 'script' %}



{% endblock %}