
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {

    var availableTags = []
    url = '/beer/beersearchcontent'
    
    $.get(url,function(data){
        for(var i=0;i<data.length;i++){
            availableTags.push(data[i]['fields']['productname'])
        }
        
        
        
       

    })
  



    
    $( "#searchtext" ).autocomplete({
      source: availableTags
    });
  } );
  </script>

