{% block 'footer' %}
<div class="clear"></div>
<!-- footer  -->
<div class="card-footer border-primary footer">
    <div class="footer_l">
      <div class=footer_l_1>
      <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
      <p>台北市松山區民生東路五段36巷4弄49之1號</p>
      </div>
      <div class=footer_l_2>
      <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
      <p>02-2760-0920</p>
      </div>
      <div class=footer_l_3>
      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
      <p>beerdeer17@gmail.com</p>
      </div>
      </div>
      
    
      <div class="footer_r">
        <div class="footer_r_u lead">
          <h4>About Beer Deer</h4>
          <p>Ming Sheng beer bar involved in your life.</p>
        </div>
        <div class="footer_r_d">
          <h4>Follow Us!</h4>
          <i class="fa fa-facebook-official fa-2x footer_r_d_e" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-2x footer_r_d_e" aria-hidden="true"></i>
        </div>
      </div>
    <div class="footer_b">
      <div class="footer_b_t">
        <h5>Beer Deer <i class="fa fa-copyright" aria-hidden="true"></i>  2017</h5>
      </div>
    </div>

  </div>  

<!-- end footer  -->

{% endblock %}