{% extends 'base.html' %}



{% block 'css' %}
<link rel="stylesheet" href="../../static/styles/index.css">
{% endblock %}

{% block 'body' %}



<div class="context">
	<div class="productbox">
		<div class="row">
			<div class="item">
				<div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div>
				<img src="material/cherng.jpg">
			</div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
		</div>

		<div class="row">
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
		</div>

		<div class="row">
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
			<div class="item"><div class="detail">
					<h2>Mikkeller</h2>
					<p>Weissbier<br>7%</p>
				</div><img src="material/cherng.jpg"></div>
		</div>





	</div>
</div>













</div> <!-- end wrapper -->









{%endblock%}


{% block 'script' %}
{%endblock%}