{% extends 'base.html' %}



{% block 'css' %}


{%endblock%}


{% block 'body' %}


{% for comment in comments %}

{{comment.comment}}

<form action="{%url 'beer:commentedit' comment.id %}">
        {% csrf_token %}
    <button class="btn btn-primary">edit</button>
</form>
<form action="{% url 'beer:commentdelete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{comment.id}}" name="act">
    <button class="btn btn-danger">delete</button>
</form>
<br>
{%endfor%}














{%endblock%}

{% block 'script' %}
<script>

</script>

{%endblock%}
