{% extends 'base.html' %}


{% block 'css' %}
{% endblock %}

{% block 'body' %}

<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>User</th>
            <th>Amount</th>
            <th>Product</th>
            <th>Qauntity</th>
        </tr>
    </thead>


    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{order.time}}</td>
            <td>{{order.user_id}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.product_id_list}}</td>
            <td>{{order.product_quantity_list}}</td>
        </tr>
        {% endfor %}
    </tbody>


</table>












{% endblock %}


{% block 'script' %}

<script>




                    






</script>



{% endblock %}